<div th:fragment="headerup" th:remove="tag">
	<!-- 
	Upper Header Section 
-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="topNav">
			<div class="container">
				<div class="alignR">
					<div class="pull-left socialNw">
						<a href="#"><span class="icon-twitter"></span></a> <a href="#"><span
							class="icon-facebook"></span></a> <a href="#"><span
							class="icon-youtube"></span></a> <a th:href="@{/admin}"><i
							style='font-size: 24px' class='fas'>&#xf505;</i></a>
					</div>
					<a class="active" th:href="@{/}"> <span class="icon-home"></span>
						Home
					</a>
					<div sec:authorize="isAuthenticated()" th:remove=tag>
						<a class="icon-user"
							th:href="@{'/member/thong-tin-ca-nhan/' + ${+#authentication.getPrincipal().getId()}}"
							th:text="${ ' Xin Chào: '+#authentication.getPrincipal().getUsername()}">
						</a> <span class="sep">|</span> <a href="/logout" title="Đăng xuất"><i
							class="fa fa-sign-out"></i> Sign out</a>
					</div>
					<div sec:authorize="!isAuthenticated()" th:remove=tag>
						<a th:href="@{/register}"><span class="icon-edit"></span> Free
							Register </a> <span class="sep">|</span> <a class="link"
							href="/login" title="Đăng nhập">Sign in</a>
					</div>
					<a th:href="@{/register}"><span class="icon-edit"></span> Free
						Register </a> <a href="contact.html"><span class="icon-envelope"></span>
						Contact us</a> <a href="cart.html"><span
						class="icon-shopping-cart"></span> 2 Item(s) - <span
						class="badge badge-warning">$448.42</span></a>
				</div>
			</div>
		</div>
	</div>

</div>