<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>ADMIN</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<hr class="soften">
	<div>
		<h1>Work for Admin</h1>
	</div>
	<hr class="soften">
	<div class="row">
		<div class="span8">
			<h4>ADMIN - Quản trị (CRUD: add, update, delete, search) User,
				Category, Product, Bill, BillProduct (mặt hàng trong đơn hàng).</h4>
			
		</div>
		<div class="span4">
			Monday - Friday<br /> 09:00am - 09:00pm<br /> Saturday<br />
			09:00am - 07:00pm<br /> Sunday<br /> 12:30pm - 06:00pm<br />
		</div>
	</div>
</body>
</html>