<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>Danh sách Người dùng</title>
<style>
.pagination {
	display: flex;
	justify-content: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
</style>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="row">

		<div class="span12">
			<ul class="breadcrumb">
				<li><a th:href="@{/admin}">Home</a> <span class="divider">/</span></li>
				<li class="active">User</li>
			</ul>
			<form th:action="@{/admin/user/search}"
				class="navbar-search pull-left" method="get">
				<input type="text" class="search-query span2" name="name"
					placeholder="Tim them ten">
				<button type="submit">
					<i class="material-icons">search</i>
				</button>
			</form>
			<div class="well well-small">
				<hr class="soft" />
				<h2>Danh sách User</h2>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tên</th>
							<th>Điện thoại</th>
							<th>Email</th>
							<th>Username</th>
							<th>Chức vụ</th>
							<th>Tùy chọn</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="user : ${userList}" th:remove=tag>
							<tr>
								<td th:text="${user.id}"></td>
								<td th:text="${user.name}"></td>
								<td th:text="${user.phone}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.role}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/admin/user/add}">Thêm </a><i class="fa fa-pencil"></i><a
									class="btn btn-success btn-xs"
									th:href="@{'/admin/user/update?id=' + ${user.id}}">Sửa </a><i
									class="fa fa-pencil"></i><a class="btn btn-danger btn-xs"
									th:href="@{'/admin/user/delete?id=' + ${user.id}}">Xóa User
								</a></td>
							</tr>
						</div>
					</tbody>
				</table>
				<br />
			</div>
		</div>
	</div>
	<div th:if="${result &gt; 0}">
		<div class="pagination">
			<a th:class="${i == currentPage ? 'active' : '' }"
				th:href="@{'/admin/user/search?page=' + ${i}} +'&name=' +${name}"
				th:each="i : ${#numbers.sequence( 1, result)}" th:text="${ i }+'  '"></a>
		</div>
	</div>
</body>
</html>