<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>Add user</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="span9">
		<ul class="breadcrumb">
			<li><a th:href="@{/admin}">Home</a> <span class="divider">/</span></li>
			<li class="active">Add user</li>
		</ul>
		<h3>Add user</h3>
		<hr class="soft" />
		<div class="well">
			<p th:text=${sucess}></p>
			<form class="form-horizontal" th:action="@{/admin/user/update}"
				th:object="${user}" method="post">
				<h3>Your Personal Details</h3>
				<input type="hidden" th:field="*{id}" id="id">
				<div class="control-group">
					<label class="control-label" for="inputFname">Tên <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{name}" th:value="${user.name}"
							placeholder="Nhập tên">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname">Tuổi <sup>*</sup></label>
					<div class="controls">
						<input type="number" min="1" th:field="*{age}"
							th:value="${user.age}" placeholder="Nhập tuổi">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname">Địa chỉ <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{address}"
							th:value="${user.address}" placeholder="Nhập địa chỉ">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Giới tính <sup>*</sup></label>
					<div class="controls">
						<input type="radio" th:field="*{gender}" th:value="Nam" /> <label
							th:text="Nam" /> <input type="radio" th:field="*{gender}"
							th:value="Nữ" /> <label th:text="Nữ" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname">Số điện thoại
						<sup>*</sup>
					</label>
					<div class="controls">
						<input type="text" th:field="*{phone}" th:value="${user.phone}"
							placeholder="Nhập số điện thoại">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname">Email <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{email}" th:value="${user.email}"
							placeholder="Nhập email">
					</div>
				</div>
				<!-- <div class="control-group">
					<label class="control-label">Chức vụ <sup>*</sup></label>
					<div class="controls">
						<input type="radio" th:field="*{role}" th:value="ROLE_ADMIN" /> <label
							th:text="ADMIN" /> <input type="radio" th:field="*{gender}"
							th:value="ROLE_MEMBER" /> <label th:text="MEMBER" />
					</div>
				</div> -->
				<div class="control-group">
					<label class="control-label" for="inputLname">Username <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{username}"
							th:value="${user.username}" placeholder="Username">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password <sup>*</sup></label>
					<div class="controls">
						<input type="password" th:field="*{password}"
							placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submitAccount" value="Update"
							class="exclusive shopBtn">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>