<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>Add category</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="span9">
		<ul class="breadcrumb">
			<li><a th:href="@{/admin}">Home</a> <span class="divider">/</span></li>
			<li class="active">Add Category</li>
		</ul>
		<h3>Add Category</h3>
		<hr class="soft" />
		<div class="well">
			<p th:text=${sucess}></p>
			<form class="form-horizontal" th:action="@{/admin/category/add}"
				th:object="${category}" method="post">
				<input type="hidden" th:field="*{id}" id="id">
				<div class="control-group">
					<label class="control-label" for="inputFname">Tên danh mục
						<sup>*</sup>
					</label>
					<div class="controls">
						<input type="text" th:field="*{name}" placeholder="Nhập tên">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname">Miêu tả <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{description}"
							placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submitAccount" value="Add"
							class="exclusive shopBtn">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>