<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>Add color</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a th:href="@{/admin}">Home</a> <span class="divider">/</span></li>
			<li class="active">Add color</li>
		</ul>
		<h3>Add color</h3>
		<hr class="soft" />
		<div class="well">
			<p th:text=${sucess}></p>
			<form class="form-horizontal" th:action="@{/admin/color/add}"
				th:object="${color}" method="post">
				<input type="hidden" th:field="*{id}" id="id">
				<div class="control-group">
					<label class="control-label" for="inputFname">Tên Màu <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{name}" placeholder="Nhập tên">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Mã Code <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{code}" placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Tên Sẩn phẩm <sup>*</sup></label>
					<select th:field="*{productDTO.id}">
							<option th:each="pro: ${products4}" th:value="${pro.id}"
								th:text="${pro.name}"></option>
						</select>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submitAccount" value="Add"
							class="exclusive shopBtn">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>