<!DOCTYPE html>
<html layout:decorator="admin/template">
<head>
<meta charset="utf-8">
<title>Update Product</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="span9">
		<ul class="breadcrumb">
			<li><a th:href="@{/admin}">Home</a> <span class="divider">/</span></li>
			<li class="active">Update Product</li>
		</ul>
		<h3>Update Product</h3>
		<hr class="soft" />
		<div class="well">
			<p th:text=${sucess}></p>
			<form class="form-horizontal" th:action="@{/admin/product/update}"
				th:object="${product}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" id="id">
				<div class="control-group">
					<label class="control-label" for="inputFname">Tên sản phẩm
						<sup>*</sup>
					</label>
					<div class="controls">
						<input type="text" th:field="*{name}" value="${product.name}"
							placeholder="Nhập tên">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Sizes <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{sizes}" value="${product.sizes}"
							placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Giá <sup>*</sup></label>
					<div class="controls">
						<input type="number" th:field="*{price}" value="${product.price}"
							placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Tiêu đề <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{title}" value="${product.title}"
							placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Chi tiết <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{details}"
							value="${product.details}" placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Số lượng <sup>*</sup></label>
					<div class="controls">
						<input type="text" th:field="*{quantity}"
							value="${product.quantity}" placeholder="Nhập nội dung">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Thông tin sản phẩm <sup>*</sup></label>
					<div class="controls">
						<input type="checkbox" th:field="*{highlight}" /> <label
							th:text="highlight" /> <input type="checkbox"
							th:field="*{new_product}" /> <label th:text="new_product" /> <input
							type="checkbox" th:field="*{upcoming}" /> <label
							th:text="upcoming" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Danh muc <sup>*</sup></label>
					<div class="controls">
						<select th:field="*{categoryDTO.id}">
							<option th:each="cate: ${categories}" th:value="${cate.id}"
								th:text="${cate.name}"></option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputFname"> Image <sup>*</sup></label>
					<div class="controls">
						<input type="file" name="imageFile" accept="image/*" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submitAccount" value="Add"
							class="exclusive shopBtn">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>