<!DOCTYPE html>
<html layout:decorator="client/template">
<head>
<meta charset="utf-8">
<title>Chi tiết sản phẩm</title>
<style type="text/css">
.product-content {
	overflow: hidden;
}
</style>
</head>
<body layout:fragment="content" th:remove="tag">
	<!-- 
Body Section 
-->
	<div class="row product-content">
		<div id="sidebar" class="span3">
			<div class="well well-small">
				<ul class="nav nav-list">
					<div th:each="cate: ${categories}">
						<li><a th:href="@{'/san-pham?cId=' + ${cate.id}}"><span
								class="icon-circle-blank" th:text="' '+${cate.name}"></span></a></li> </br>
					</div>
					<div th:if="${session.totalQuantity != null}" th:remove=tag>
						<li><a class="totalInCart" th:href="@{/member/cart}"><strong>Tổng
									Tiền <span class="badge badge-warning pull-right"
									style="line-height: 18px;"
									th:text="${#numbers.formatDecimal(session.totalPrice, 0, 'COMMA', 0, 'POINT')}+'₫'"></span>
							</strong></a></li>
					</div>
				</ul>
			</div>

			<div class="well well-small alert alert-warning cntr">
				<h2>50% Discount</h2>
				<p>
					only valid for online order. <br> <br> <a
						class="defaultBtn" href="#">Click here </a>
				</p>
			</div>
			<div class="well well-small">
				<a href="#"><img th:src="@{/assets/user/img/paypal.jpg}"
					alt="payment method paypal"></a>
			</div>

			<a class="shopBtn btn-block" href="#">Sản phẩm sắp ra mắt <br>
				<small>Click to view</small></a> <br> <br>
			<ul class="nav nav-list promowrapper">
				<div th:each="pro3: ${products3}">
					<li>
						<div class="thumbnail">
							<a class="zoomTool"
								th:href="@{'/chi-tiet-san-pham/' +${pro3.id}}"
								title="add to cart"><span class="icon-search"></span> QUICK
								VIEW</a> <img th:src="@{'/download?image=' + ${pro3.img}}"
								alt="bootstrap ecommerce templates">
							<div class="caption">
								<h4>
									<a class="defaultBtn"
										th:href="@{'/chi-tiet-san-pham/' +${pro3.id}}">VIEW</a> <span
										class="pull-right"
										th:text="${#numbers.formatDecimal(pro3.price, 0, 'COMMA', 0, 'POINT')}+'₫'"></span>
								</h4>
							</div>
						</div>
					</li>
					<li style="border: 0">&nbsp;</li>
				</div>
			</ul>

		</div>
		<div class="span9">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">Trang chủ</a> <span class="divider">/</span></li>
				<li><a th:href="@{/search-san-pham}">Sản phẩm</a> <span
					class="divider">/</span></li>
				<li class="active">Chi tiết sản phẩm</li>
			</ul>
			<div class="well well-small">
				<div class="row-fluid">
					<div class="span5">
						<div id="myCarousel" class="carousel slide cntr">
							<div class="carousel-inner">
								<div class="item active">
									<a href="#"> <img
										th:src="@{'/download?image=/' + ${product.img}}" alt=""
										style="width: 100%"></a>
								</div>
							</div>
							<a class="left carousel-control" href="#myCarousel"
								data-slide="prev">‹</a> <a class="right carousel-control"
								href="#myCarousel" data-slide="next">›</a>
						</div>
					</div>
					<div class="span7">
						<h3 th:text="${product.name}"></h3>
						<hr class="soft" />

						<form class="form-horizontal qtyFrm">
							<div class="control-group">
								<label class="control-label"><span
									th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}+'₫'"></span></label>
								<div class="controls">
									<input type="number" min="1" value="0" class="span6">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label"><span>Color</span></label>
								<div class="controls">
									<select class="span11">
										<option>Red</option>
										<option>Purple</option>
										<option>Pink</option>
										<option>Red</option>
									</select>
								</div>
							</div>

							<h4 th:text="${product.title}"></h4>
							<p>Nowadays the lingerie industry is one of the most
								successful business spheres. Nowadays the lingerie industry is
								one of ...
							<p>
								<button type="submit" class="shopBtn">
									<span class=" icon-shopping-cart"> </span> <a class="shopBtn"
										th:href="@{'/member/add-to-cart?pid=' + ${product.id} }"
										title="add to cart"> Add to cart </a>

								</button>
						</form>
					</div>
				</div>
				<hr class="softn clr" />


				<ul id="productDetail" class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab">Chi
							tiết sản phẩm</a></li>
					<li class=""><a href="#profile" data-toggle="tab">Sản phẩm
							liên quan </a></li>

				</ul>
				<div id="myTabContent" class="tab-content tabWrapper">

					<div th:utext="${product.details}" th:remove="tag"></div>

					<div class="tab-pane fade" id="profile">
						<div th:each="pro : ${products}">
							<div class="row-fluid">
								<div class="span2">
									<img th:src="@{'/download?image=' + ${pro.img}}"
										alt="bootstrap ecommerce templates">
								</div>
								<div class="span6">
									<h5 th:text="${pro.name}"></h5>
									<p th:text="${pro.title}"></p>
								</div>
								<div class="span4 alignR">
									<form class="form-horizontal qtyFrm">
										<h3
											th:text="${#numbers.formatDecimal(pro.price, 0, 'COMMA', 0, 'POINT')}+'₫'"></h3>

										<div class="btn-group">
											<a th:href="@{'/member/add-to-cart?pid=' + ${pro.id} }"
												class="defaultBtn"><span class=" icon-shopping-cart"></span>
												Add to cart</a> <a th:href="@{'/chi-tiet-san-pham/' +${pro.id}}"
												class="shopBtn">VIEW</a>
										</div>
									</form>
								</div>
							</div>
							<hr class="soft">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>