<div th:fragment="header" th:remove="tag">
	<!--
Lower Header Section 
-->
	<div class="container">
		<div id="gototop"></div>
		<header id="header">
			<div class="row">
				<div class="span4">
					<h1>
						<a class="logo" th:href="@{/}"><span>Twitter Bootstrap
								ecommerce template</span> <img
							th:src="@{/assets/user/img/logo-bootstrap-shoping-cart.png}"
							alt="bootstrap sexy shop"> </a>
					</h1>
				</div>
				<div class="span4">
					<div class="offerNoteWrapper">
						<h1 class="dotmark">
							<i class="icon-cut"></i> Chào các bạn đã đến với Shop Jewery số
							35 Kim Bài
						</h1>
					</div>
				</div>
				<div class="span4 alignR">
					<p>
						<br> <strong> Support (24/7) : 0800 1234 678 </strong><br>
						<br>
					</p>
					<div th:if="${session.totalQuantity != null}" th:remove=tag>
						<span class="btn btn-mini">[
							<h4 th:text="' ' +${session.totalQuantity}" th:remove=tag></h4> ]
							<span class="icon-shopping-cart"></span>
						</span>
					</div>
					<span class="btn btn-warning btn-mini">$</span> <span
						class="btn btn-mini">&pound;</span> <span class="btn btn-mini">&euro;</span>

				</div>
			</div>

		</header>

		<!--
Navigation Bar Section 
-->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a data-target=".nav-collapse" data-toggle="collapse"
						class="btn btn-navbar"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<div th:each="me, meStart: ${menus}" th:remove="tag">
								<li th:class="${meStart.first} ? 'active' : ' ' "><a
									th:href="${me.url}">
										<p th:text="${me.name}" th:remove="tag" />
								</a></li>
							</div>
						</ul>
						<form th:action="@{/search-san-pham}"
							class="navbar-search pull-left" method="get">
							<input type="text" class="search-query span2" name="name"
								placeholder="Tim them ten">
							<button type="submit">
								<i class="material-icons">search</i>
							</button>
						</form>

						<ul class="nav pull-right">
							<p th:if="${e} != null">Tài khoản mật khẩu không chính xác</p>
							<li class="dropdown"><a data-toggle="dropdown"
								class="dropdown-toggle" href="#"><span class="icon-lock"></span>
									Đăng nhập <b class="caret"></b></a>
								<div class="dropdown-menu">
									<form class="form-horizontal loginFrm" method="post"
										th:action="@{/login}">
										<div class="control-group">
											<input type="text" class="span2" id="inputEmail"
												name="username" placeholder="Email">
										</div>
										<div class="control-group">
											<input type="password" class="span2" id="inputPassword"
												name="password" placeholder="Password">
										</div>
										<div class="control-group">
											<label class="checkbox"> <input type="checkbox">
												Remember me
											</label>
											<button type="submit" class="shopBtn btn-block">Đăng
												nhập</button>

											<a class="shopBtn btn-block" th:href="@{/register}">Đăng
												ký</a>
										</div>
									</form>

								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>