<!DOCTYPE html>
<html layout:decorator="client/template">
<head>
<meta charset="utf-8">
<title>Sửa thông tin cá nhân</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<!-- 
Body Section 
-->
	<div class="row">
		<div id="sidebar" class="span3">
			<div class="well well-small">
				<ul class="nav nav-list">
					<div th:each="cate: ${categories}">
						<li><a th:href="@{'/san-pham?cId=' + ${cate.id}}"><span
								class="icon-circle-blank" th:text="' '+${cate.name}"></span></a></li> </br>
					</div>
					<li><a class="totalInCart" th:href="cart.html"><strong>Tổng
								Tiền <span class="badge badge-warning pull-right"
								style="line-height: 18px;">$448.42</span>
						</strong></a></li>
				</ul>
			</div>

			<div class="well well-small alert alert-warning cntr">
				<h2>50% Discount</h2>
				<p>
					only valid for online order. <br> <br> <a
						class="defaultBtn" href="#">Click here </a>
				</p>
			</div>
			<div class="well well-small">
				<a href="#"><img th:src="@{/assets/user/img/paypal.jpg}"
					alt="payment method paypal"></a>
			</div>

			<a class="shopBtn btn-block" href="#">Sản phẩm sắp ra mắt <br>
				<small>Click to view</small></a> <br> <br>
			<ul class="nav nav-list promowrapper">
				<div th:each="pro3: ${products3}">
					<li>
						<div class="thumbnail">
							<a class="zoomTool"
								th:href="@{'/chi-tiet-san-pham/' +${pro3.id}}"
								title="add to cart"><span class="icon-search"></span> QUICK
								VIEW</a> <img th:src="@{'/assets/user/img/' + ${pro3.colorDTO.img}}"
								alt="bootstrap ecommerce templates">
							<div class="caption">
								<h4>
									<a class="defaultBtn"
										th:href="@{'/chi-tiet-san-pham/' +${pro3.id}}">VIEW</a> <span
										class="pull-right"
										th:text="${#numbers.formatDecimal(pro3.price, 0, 'COMMA', 0, 'POINT')}+'₫'"></span>
								</h4>
							</div>
						</div>
					</li>
					<li style="border: 0">&nbsp;</li>
				</div>
			</ul>

		</div>
		<div class="span9">
			<ul class="breadcrumb">
				<li><a href="index.html">Home</a> <span class="divider">/</span></li>
				<li class="active">Registration</li>
			</ul>
			<h3>Update</h3>
			<hr class="soft" />
			<div class="well">
				<p th:text=${sucess}></p>
				<form class="form-horizontal" th:action="@{/member/update}"
					th:object="${user}" method="post">
					<h3>Your Personal Details</h3>
					<input type="hidden" th:field="*{id}" id="id">
					<div class="control-group">
						<label class="control-label" for="inputFname">Tên <sup>*</sup></label>
						<div class="controls">
							<input type="text" th:field="*{name}" th:value="${user.name}"
								placeholder="Nhập tên">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputFname">Tuổi <sup>*</sup></label>
						<div class="controls">
							<input type="number" min="1" th:field="*{age}"
								th:value="${user.age}" placeholder="Nhập tuổi">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputFname">Địa chỉ <sup>*</sup></label>
						<div class="controls">
							<input type="text" th:field="*{address}"
								th:value="${user.address}" placeholder="Nhập địa chỉ">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Giới tính <sup>*</sup></label>
						<div class="controls">
							<input type="radio" th:field="*{gender}" th:value="Nam" /> <label
								th:text="Nam" /> <input type="radio" th:field="*{gender}"
								th:value="Nữ" /> <label th:text="Nữ" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputFname">Số điện
							thoại <sup>*</sup>
						</label>
						<div class="controls">
							<input type="text" th:field="*{phone}" th:value="${user.phone}"
								placeholder="Nhập số điện thoại">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputFname">Email <sup>*</sup></label>
						<div class="controls">
							<input type="text" th:field="*{email}" th:value="${user.email}"
								placeholder="Nhập email">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputLname">Username <sup>*</sup></label>
						<div class="controls">
							<input type="text" th:field="*{username}"
								th:value="${user.username}" placeholder="Username">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Password <sup>*</sup></label>
						<div class="controls">
							<input type="password" th:field="*{password}"
								placeholder="Password">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="submit" name="submitAccount" value="Update"
								class="exclusive shopBtn">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>