<!DOCTYPE html>
<html layout:decorator="client/template">
<head>
<meta charset="utf-8">
<title>List cart</title>
</head>
<body layout:fragment="content" th:remove="tag">
	<div class="row">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a th:href="@{/}">Trang chủ</a> <span class="divider">/</span></li>
				<li class="active">Giỏ hàng</li>
			</ul>
			<div class="well well-small">
				<h1>
					Giỏ hàng <small class="pull-right"
						th:text="${session.totalQuantity} + ' Sản phẩm trong giỏ hàng ' "></small>
				</h1>
				<hr class="soften" />

				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>Hình ảnh</th>
							<th>Mô tả</th>
							<th>Màu sắc</th>
							<th>Giá bán</th>
							<th>Số lượng</th>
							<th>Xóa</th>
							<th>Tổng tiền</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="item: ${#session.getAttribute('cart')}">
							<tr>
								<td><img width="100"
									th:src="@{'/download?image=' + ${ item.value.productDTO.img }}"
									alt=""></td>
								<td th:text="${ item.value.productDTO.title}"></td>
								<td><span class="shopBtn" style="background-color: yellow;"><span
										class="icon-ok"></span></span></td>
								<td><p
										th:text="${#numbers.formatDecimal(item.value.productDTO.price, 0, 'COMMA', 0, 'POINT')}+'₫'"></p></td>
								<td><input type="number" id="quantity" name="quantity"
									class="form-control input-number text-center"
									style="max-width: 34px" th:value="${item.value.quantity }"
									min="1" max="100"></td>
								<td><a
									th:href="@{'/member/delete-from-cart?key=' + ${item.key }}"
									class="btn btn-mini btn-danger" type="button"> <span
										class="icon-remove"></span>
								</a></td>
								<td><p
										th:text="${#numbers.formatDecimal(item.value.quantity * item.value.unitPrice, 0, 'COMMA', 0, 'POINT')}+'₫'"></p>
								</td>
							</tr>
						</div>

					</tbody>
				</table>

				<br /> <a th:href="@{/}" class="shopBtn btn-large"><span
					class="icon-arrow-left"></span> Tiếp tục mua sắm </a> <a
					th:href="@{/member/bill/add}" class="shopBtn btn-large pull-right">Bước
					tiếp theo <span class="icon-arrow-right"></span>
				</a>
				<div class="col-sm-4 text-center">
					<form th:action="@{/member/cart}" method="post">
						<div class="row form-group">
							<div class="col-sm-9">

								<input type="text" name="coupons"
									class="form-control input-number" placeholder="Mã mua sắm..."
									th:if="${session.coupons} == null"> <input type="text"
									name="coupons" class="form-control input-number"
									th:if="${session.coupons} != null"
									th:value="${session.coupons.name}">

							</div>
							<div class="col-sm-3">
								<input type="submit" value="Xác nhận mã" class="btn btn-primary">
							</div>
						</div>
					</form>


					<div class="total">
						<div class="sub">
							<p>
								<span>Tổng tiền:</span> <span
									th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}+'₫'"></span>
							</p>
							<p>
								<span>Phí ship:</span> <span>30.000₫</span>
							</p>
							<p>
								<span>Mã giảm giá:</span><span> <span
									th:text="${session.coupons.getPersent+'%'}"
									th:unless="${session.coupons == null}"> </span></span>
							</p>
						</div>
						<div class="grand-total">
							<p>
								<span><strong>Total:</strong></span> <span><span
									th:text="${#numbers.formatDecimal(total+30000, 0, 'COMMA', 0, 'POINT')}+'₫'"
									th:if="${session.coupons == null}"></span> <span
									th:text="${#numbers.formatDecimal(total-(total*session.coupons.getPersent)/100 +30000, 0, 'COMMA', 0, 'POINT')}+'₫'"
									th:unless="${session.coupons == null}"></span></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>